.wrapper {
    margin: 10%  10% 30px 10%;
    display: flex;
    flex-direction: column;
    /* padding: 10%; */
}

.wrapper button {
    width: 120px;
    margin: 20px auto;
}

.rootWordWrapper div{
  margin: auto 10px;
}

.rootWord {
    border-radius: 5px;
    border: solid 1px;
    border-color: rgb(255, 255, 255);
    display: inline-block;
    padding: 5px;
    text-align: center;
}
.selectRootWord {
    background-color: #6767ab;
}
.unSelectRootWord {
    background-color: none;
  
}

.tagWrapper{
    border-color: 6767ab;
    border:solid 1px;
    border-radius: 5px;
    padding: 10px;
}

.partingLine {
    border: 0.5px solid;
    width: 100%;
    margin: 30px 0px;
    border-color: #aaa;
}

.stepWrapper span {
    width: 50px;
    display: inline-block;
    /* background: #111416; */
    border: 1px solid;
    border-radius: 5px;
    margin: 10px;
    padding: 3px;
    border-color: blueviolet;
    cursor: pointer;
}

.selectedStep {
    background-color: #6767ab;
}